* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	background: #ebebeb;
}

#content div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.clearfix {
	clear: both;
}

.container {
	width: 1000px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.thin-container {
	width: 800px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

#header {
	background: #9ac5f6;
	height: 70px;
}

#footer {
	background: #163b65;
}

#content {
	font-family: 'Open Sans';
	font-weight: 300;
}

#logo {
	float: left;
	padding: 4px;
}

#navigation {
	float: right;
	height: 70px;
	font-family: 'Open Sans Condensed';
}

#navigation ul {
	list-style: none;
}

#navigation ul li {
	float: left;
	font-size: 25px;
	padding: 15px;
	height: 40px;
}

#navigation ul li a{
	color: black;
	text-decoration: none;
}

#navigation ul li:hover {
	background: #67aeff;
}

#navigation ul li:hover a{
	color: white;
}

#home-graphics {
	background: url('../img/graphics.png');
	width: 1000px;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#content-title {
	text-align: center;
	font-size: 65px;
}

#content-description {
	text-align: center;
	font-size: 18px;
}

.speaker-first-row {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.speaker-second-row {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.speaker {
	float: left;
	width: 200px;
}

.speaker-img img {
	border: 8px solid #006ae3;
	width: 120px;
	height: 120px;
	border-radius: 120px;
}

.speaker-name {
	font-size: 24px;	
	font-weight: 400;
}

#registration-form {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#registration-form input[type=text] {
	width: 258px;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

#registration-form input[type=email] {
	width: 258px;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

#registration-form input[type=tel] {
	width: 258px;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

#registration-form input[type=submit] {
	width: 260px;
	padding: 10px;
	margin: 10px;
	background: #67aeff;
	border-radius: 3px;
	color: white;
	font-size: 24px;
	border-bottom: 3px solid #67aeff;
}

#registration-form input[type=submit]:hover {
	border-bottom: 3px solid #006ae3;
}

