<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300,200,600&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<meta charset="utf-8" />
	<meta property="og:image" content="http://meetup.sch.bme.hu/images/fbimagefivev2.png"/>
	<title>Schönherz meetup - business and IT</title>
	<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/js/skrollr.min.js"></script>
	<script type="text/javascript" src="/js/js.js"></script>
</head>
<body>
	<header>
		<div class="wrap">
			<a href="#"><div class="logo"></div></a>
			<p>business and <!--span-->IT<!--/span--></p>
		</div>
	</header>
	<nav>
		<div class="menu">
			<a href="#information">Információ</a>
			<a href="#registration">Regisztráció</a>
			<a href="#speakers">Előadók</a>
			<a href="#contact">Kapcsolat</a>
			<a href="#partners">Partnereink</a>
			<a href="http://bss.sch.bme.hu/meetup" target="_blank">STREAM</a>
		</div>
	</nav>
	<section class="animation-section">
		<div class="animation-image"><img src="/images/homeimg.png" alt="" /></div>
	</section>
	<div class="content">
		<section class="simple-section section-information" id="information">
			<div class="section-header">
				<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
				<h2>Információ</h2>
			</div>
			<div class="section-content wrap">
				<h2>V. SCHÖNHERZ MEETUP</h2>

				<h4>Mesterséges Intelligencia</h4>

				<p>A Schönherz Vállalati Kapcsolatok immáron ötödik alkalommal rendezi meg a Schönherz Meetup néven ismert egész estés rendezvényét, amely lehetőséget nyújt a hallgatóknak bepillantani egy izgalmas témába négy előadáson keresztül.</p>

				<p>A prezentációk ezúttal a mesterséges intelligencia témakörét ölelik fel, és a kérdéskör szakmai, kutatási,etikai és pszichológiai aspektusait állítják középpontba. Az est hangulatáért Mogács Dániel humorista felel, majd rendezvényünk egy kellemes borkóstolóval zárul. </p>

				<p>
					<b>Időpont:</b> 2016. március 08. kedd, 19:00 - 21:00-ig, utána kötetlen beszélgetés borkóstolóval. Kapunyitás 18:30-kor.<br/>

					<b>Helyszín:</b> Schönherz Zoltán Kollégium Földszinti Nagyterem (1117 Budapest, Irinyi József utca 42.)<br/>

					<b>Belépőjegy:</b> A rendezvény ingyenes, de regisztrációhoz kötött!
				</p>
			</div>
		</section>
		<section class="simple-section section-registration" id="registration">
			<div class="section-header">
				<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
				<h2>Regisztráció</h2>
			</div>
			<div class="section-content wrap">
				<p>Az eseményre minden hely megtelt.</p>
			</div>
		</section>
		<section class="simple-section section-speakers" id="speakers">
			<div class="section-header">
				<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
				<h2>Előadók</h2>
			</div>
			<div class="section-content wrap">
				<div class="speaker-item clear">
					<div class="speaker-head"><img src="/images/profile_images/Vajta.jpg" alt="Dr. Vajta László"></div>
					<h4>Dr. Vajta László <br/> <span>Dékán, BME VIK, az est fővédnöke</span></h4>
					<h3></h3>
					<p></p>
				</div>
				<div class="speaker-item clear">
					<div class="speaker-head"><img src="/images/profile_images/Mogacs_Daniel.jpg" alt="Mogács Dániel"></div>
					<h4>Mogács Dániel<br/> <span>Humorista, Dumaszínház</span></h4>
					<h3></h3>
					<p></p>
				</div>
				<div class="speaker-item clear">
					<div class="speaker-head"><img src="/images/profile_images/Vancza_Jozsef.jpg" alt="Váncza József"></div>
					<h4>Váncza József <br/> <span>Head of Engineering and Management Intelligence Laboratory, MTA SZTAKI</span></h4>
					<h3>Mesterséges intelligencia a mérnökök kezében: tudjuk, hol a határ?</h3>
					<p>A mesterséges intelligencia (MI) kutatás – amelyet kezdetben a nagy, majd később jórészt a beváltatlan ígéretek jellemeztek – mára kétségkívül olyan gazdag és hatékony eszköztárat adott a mérnökök kezébe, amivel az ember észlelési, információ-feldolgozási, beavatkozási és kommunikációs képességeinek határait soha nem látott mértékben lehet tágítani. Az előadás rövid történeti áttekintés után az  ágens-alapú megközelítést emeli ki, mint lényegi fordulópontot az MI műszaki alkalmazásaiban, emellett megfogalmazza azokat a dilemmákat, amik a pusztán mérnöki szemlélet korlátaiból erednek. A fő kihívásokat a gyártás különféle területeiről vett példák illusztrálják, ahol a mesterséges intelligencia módszerek alkalmazásának nagy szerepe volt abban, amit manapság mind gyakrabban és többen a negyedik ipari forradalomnak (Industry4.0, Ipar4.0) tartanak. </p>
				</div>
				<div class="speaker-item clear">
					<div class="speaker-head"><img src="/images/profile_images/Toth_Balint_Pal.jpg" alt="Tóth Bálint Pál"></div>
					<h4>Tóth Bálint Pál<br/> <span>Egyetemi adjunktus, BME Távközlési és Médiainformatikai Tanszék</span></h4>
					<h3>Deep Learning - Milyen mély gondolatai lehetnek egy számítógépnek?</h3>
					<p>Az adatmennyiség robbanásszerű növekedésével, a GPU-k technológiai fejlődésével és a tudományterület új eredményeinek köszönhetően az elmúlt években a mélytanuló, un. deep learning rendszerek, azon belül pedig a mély neurális hálózatok a gépi tanulás egyik legjobban kutatott tématerületévé vált. Napjaink legkorszerűbb beszédfelismerő, beszédkeltő és képfelismerő algoritmusai mély neuronhálókat használnak, és számos további alkalmazási terület esetén is túlmutatnak a korábbi módszereken.</p>
					<p>Az előadásban ismertetésre kerül, hogy hogyan működnek és mit tudnak ezek a rendszerek, illetve választ kapunk arra is, hogy lehet-e intelligens egy mély tanuló architektúra.</p>
				</div>
				<div class="speaker-item clear">
					<div class="speaker-head"><img src="/images/profile_images/Nagyfi_Richard.jpg" alt="Nagyfi Richárd"></div>
					<h4>Nagyfi Richárd<br/> <span>Kitchen Budapest Innovation Lab, ELTE Interdiszciplináris Társadalomkutatások Doktori Iskola</span></h4>
					<h3>AI megkülönböztetés – a mesterséges intelligencia etikai kérdései</h3>
					<p>Az új technológiák nem csupán fejlesztőiknek okoznak fejtörést. A mesterséges intelligencián alapuló technológiák előretörése egy sor olyan társadalmi változást eredményez, melyekre nem vagyunk felkészülve. Az autonóm robotok, az önvezető járművek, az orvosi döntéshozó intelligenciák és a hadi drónok olyan morális és jogi kérdések megválaszolására és újragondolására késztetnek bennünket, amelyekre soha nem is léteztek mindenki által elfogadott, egyértelműen jó vagy rossz válaszaink. Az előadás arra is választ ad, hogy miért nem elegendő a katasztrófák elkerülésére Asimov robotika törvényeinek implementálása.</p>
				</div>
				<div class="speaker-item clear">
					<div class="speaker-head"><img src="/images/profile_images/Sepp_Norbert.jpg" alt="Sepp Norbert"></div>
					<h4>Sepp Norbert<br/> <span>Cognitive Business SME, IBM Hungary</span></h4>
					<h3>Kognitív számítógépek: társ vagy vetélytárs?</h3>
					<p>A mesterséges intelligencián alapuló technológiák iránti érdeklődés az elmúlt egy évben robbanásszerűen megugrott. Sok gyártó jelenik meg különféle megoldásokkal, és a társadalmat ez a jelenség egyszerre tölti el lelkesedéssel és nyugtalansággal. Az előadás az IBM Watson rendszerén keresztül mutatja meg, mit várhatunk attól a korszaktól, amelyben hétköznapjaink részévé válnak a kognitív számítógépek.</p>
				</div>
				<div class="speaker-item clear">
					<div class="speaker-head"><img src="/images/profile_images/noprofile.jpg" alt="Nyolcas Ádám"></div>
					<h4>Nyolcas Ádám<br/> <span>Borász</span></h4>
					<h3></h3>
					<p></p>
				</div>
			</div>
		    <!--
	            <div class="speaker-item clear">
		            <h4>Coming soon..</h4>
                    </div>
                -->
            </section>
            <section class="simple-section section-contact" id="contact">
            	<div class="section-header">
            		<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
            		<h2>Kapcsolat</h2>
            	</div>
            	<div class="section-content wrap">
            		<div class ="multiple-contact-item">
						<div class="contact-item cil clear">
            				<div class="speaker-head"><img src="/images/profile_images/Peti.jpg" alt="Bognár Péter"></div>
            				<h4>Bognár Péter</h4>
            				<h3>bognar.peter@sch.bme.hu</h3>
            				<h3>+36-30-697-1910</h3>
            			</div>
						<div class="contact-item cir clear">
							<div class="speaker-head"><img src="/images/profile_images/Taz.jpg" alt="Gyurcsán József"></div>
							<h4>Gyurcsán József</h4>
							<h3>jozsef.gyurcsan@sch.bme.hu</h3>
							<h3>+36-30-611-8107</h3>
						</div>
					</div>

            		<div class="form">
            			<!-- <form method="POST" action="/contact"> -->
            			<input id="contact-name" name="name" type="text" placeholder="Neved" />
            			<input id="contact-email" name="email" type="text" placeholder="E-mail címed" />
            			<textarea id="contact-message" name="message" placeholder="Üzeneted"></textarea>
            			<button class="submit-button" id="contact-button">Elküldöm</button>
            			<!-- </form>				-->
            		</div>

            </section>
            <section class="simple-section section-partners" id="partners">
            	<div class="section-header">
            		<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
            		<h2>Partnereink</h2>
            	</div>
            	<div class="section-content wrap">
            		<div class="partners-table clear">
            			<div class="partner"><img src="/images/PPS-DumaSz-2014.png"></div>
            			<div class="partner"><img src="/images/bbk.png"></div>
            			<div class="partner"><img src="/images/PPS-SCH-2014.png"></div>
            			<div class="partner"><img src="/images/simonyi.png"></div>
            			<div class="clear"></div>
            			<div class="partner middle"><img src="/images/svk.png"></div>
            			<!--<div class="partner"><img src="/images/laplace.png"></div>-->

            		</div>
            	</div>
            </section>
            <footer>
            	© Copyright 2016. Designed by SDS
            	<img src="/images/fbimagefivev2.png" style="height: 0;overflow: hidden ;"/>
            </footer>
        </div>
        <div id="notification-area"></div>
    </body>
    </html>
