<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300,200,600&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" />
        <meta property="og:image" content="http://meetup.sch.bme.hu/images/fbimage.png"/>
		<title>Schönherz meetup - business and IT</title>
		<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>

		<script type="text/javascript" src="/js/skrollr.min.js"></script>
		<script type="text/javascript" src="/js/js.js"></script>

	</head>
	<body>
		<header>
			<div class="wrap">
				<a href="#"><div class="logo"></div></a>
				<p>business and <span>IT</span></p>
			</div>
		</header>
		<nav>
			<div class="menu">
				<a href="#information">Információ</a>
				<a href="#registration">Regisztráció</a>
				<a href="#speakers">Előadók</a>
				<a href="#contact">Kapcsolat</a>
				<a href="#partners">Partnereink</a>
				<a href="http://bss.sch.bme.hu/meetup" target="_blank">STREAM</a>
			</div>
		</nav>
		<section class="animation-section">
			<div class="animation-image"><img src="/images/smarthome.jpg" alt="" /></div>
			<h1>Okosotthon</h1>
		</section>
		<div class="content">
			<section class="simple-section section-information" id="information">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Információ</h2>
				</div>
				<div class="section-content wrap">
					<h2>IV. SCHÖNHERZ MEETUP</h2>

					<h4>Smart Home - Milyen lesz a jövő otthona?</h4>

					<p>A Schönherz Vállalati Kapcsolatok immáron negyedik alkalommal rendezi meg a Schönherz Meetup néven ismert egész estét rendezvényt, amely lehetőséget nyújt a hallgatóknak bepillantani egy izgalmas témába négy előadáson keresztül. </p>

					<p>A Meetup idei témája a Smart Home, szó lesz többek között arról, hogy mikor válhat elérhetővé a jövő otthona, hogyan könnyíthetik meg életünket az okos otthonok, milyen szoftverek és hardverek bújnak meg a jelenleg elérhető technológiák mögött.</p>
					<p>
						<b>Időpont:</b> 2015. október 20. kedd, 19:00 - 21:00-ig, utána kötetlen beszélgetés borkóstolóval. Kapunyitás 18:30-kor.<br/>
						
						<b>Helyszín:</b> Schönherz Zoltán Kollégium Földszinti Nagyterem (1117 Budapest, Irinyi József utca 42.)<br/>
					
						<b>Belépőjegy:</b> A rendezvény ingyenes, de regisztrációhoz kötött!
					</p> 
				</div>
			</section>
			<section class="simple-section section-registration" id="registration">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Regisztráció</h2>
				</div>
				<div class="section-content wrap">
					<p>Korlátozott számú hely áll rendelkezésre.</p>
					<p>Regisztráció: 2015. október 19. - 24:00-ig</p>
					<!--<form method="POST" action="/email">-->
					<div class="form">
						<input id="registration-name" name="name" type="text" placeholder="Neved" />
						<input id="registration-email" name="email" type="text" placeholder="E-mail címed" />
						<input id="registration-comesfrom" name="comesfrom" type="text" placeholder="Melyik szervezettől jöttél? (egyetem, cég neve...)" />
						<input id="registration-info" name="info" type="text" placeholder="Honnan értesültél a rendezvényről?" />
						<button class="submit-button" id="registration-button">Regisztrálok</button>
						<!--<input type="submit" value="Regisztrálok" />-->
					</div>
					<!--</form>				-->
				</div>
			</section>
			<section class="simple-section section-speakers" id="speakers">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Előadók</h2>
				</div>
				<div class="section-content wrap">
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/Vajta.jpg" alt="Dr. Vajta László"></div>
                        <h4>Dr. Vajta László <br/> <span>Dékán, BME VIK, az est fővédnöke</span></h4>
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/Janklovics.jpg" alt="Janklovics Péter"></div>
                        <h4>Janklovics Péter <br/> <span>Humorista, Dumaszínház</span></h4>
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/KissPeter.jpg" alt="Kiss Péter"></div>
                        <h4>Kiss Péter <br/> <span>senior business development manager, Magyar Telekom</span></h4>
                        <h3>Smart Home – A jövő otthona</h3>
			<p>A jövő okos otthonának megteremtéséhez sokan, sokféleképpen nekiláttak már, azonban úgy tűnik, hogy a Jetson család-szerű élet még várat magára egy darabig. Hol tartunk valójában az okos otthon megvalósításában? Mik a piac legfőbb trendjei és korlátai? Mikor válhat elérhetővé a jövő otthona? És miként fog kapcsolódni az okos otthon az IoT univerzum többi eleméhez?</p>
                    </div>
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/KovacsPeter.jpg" alt="Kovács Péter"></div>
                        <h4>Kovács Péter<br/> <span>műszaki igazgató, Smart Home Magyarország</span></h4>
                        <h3>Amit lehet parametrizálni, lehet automatizálni! - Okos házak szoftverei napjainkban.</h3>
                        <p>Az intelligens otthonokat vezérlő szoftverek működésének gyakorlati alkalmazása és előnyeinek bemutatása. Hogyan épül fel egy épületgépészeti vezérlés épületautomatika szempontjából. Milyen lehetőségeket biztosít az automatizálás az általános villanyszereléssel szemben.</p>
                    </div>
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/noprofile.jpg" alt="Cseh Róbert"></div>
                        <h4>Cseh Róbert<br/> <span>blogger, tavir.hu</span></h4>
                        <h3>Okosotthon - Álom, rémálom vagy valóság?</h3>
                        <p>Hobbi vagy ipari alkalmazások - melyekkel könnyebb az életünk. Népszerűen szólva: a dolgok Internetje - otthon. Amikor a hűtő helyettünk bevásárol és átveszi az üzenetrögzítő szerepét. Lakáskulcs helyett kódkártya, ám ha elhagytuk, a hangazonosítás is elég. Amikor a dolgok már helyettünk döntenek. És az otthonunk öntudatra ébredt. Rémálom? Valóság?
			Mi valósult meg eddig, hova juthatunk el? Arduino és Raspberry Pi építőkövek- amikor a valóság túlszárnyalja a SciFi fantáziákat. De vajon mi van a kulisszák mögött?</p>

                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/nadasi.jpg" alt="Nádasi András"></div>
                        <h4>Nádasi András<br/> <span>Borász, VSOP Balaton-felvidék </span></h4>
                        <h3></h3>
                        <p></p>
                    </div>
                    </div>
		            <div class="speaker-item clear">
		            <h4>Coming soon..</h4>
		            <!--<h4>Coming soon..</h4>-->
                    </div>
					<!--<div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/m1-68698-03353200.jpg" alt="Dr. Orosz László"></div>
                        <h4>Dr. Orosz László<br/> <span>egyetemi docens, BME-TTK</span></h4>
                        <h3>Kvantumfilozófia –„Értem én, értem! Csak fel nem foghatom!”</h3>
                        <p>A modern fizika kialakulása valódi tudományos forradalom volt, és alapvetően változtatta meg a „Valóságról” alkotott elképzeléseinket. De hát mi is az a „Valóság”, amit annyira áhítunk megismerni? A kvantummechanika megszületése a „mindennek oka van” alapvetőnek vélt igazságot döntötte romba. Mégis miért filozofálgatunk annyit azokon a furcsa jelenségeken, amit a kvantummechanika mai kísérletei mutatnak?</p>
                    </div>
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/KisZsolt-1.jpg" alt="Kis Zsolt"></div>
                        <h4>Dr. Kis Zsolt <br/> <span>fizikus, MTA Wigner Fizikai Kutatóközpont</span></h4>
                        <h3>Kvantumos információ megosztásnak és feldolgozásnak fizikai alapjai</h3>
                        <p>A kvantummechanikai jelenségeken alapuló információ megosztás és feldolgozás körülbelül harminc éves múltra tekint vissza. Milyen kísérleti javaslatokat publikáltak az elméleti sémák kidolgozása mellett? Melyik terület jutott a legmesszebb gyakorlati alkalmazás szempontjából? Melyek a legnevezetesebb fizikai rendszerek és kísérleti sémák, amelyeket információ megosztáshoz és feldolgozáshoz használnak?</p>
                    </div>
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/bacsardi_2014_v2.jpg" alt="Dr. Bacsárdi László"></div>
                        <h4>Dr. Bacsárdi László<br/> <span>egyetemi docens, Nyugat-magyarországi Egyetem</span></h4>
                        <h3>Kvantumkommunikáció: izgalmas jelen, rejtelmes jövő</h3>
                        <p>Hány Nobel-díj szükséges egy papíron megtervezett kvantuminformatikai algoritmus gyakorlati megvalósításához? Milyen kvantummechanikai elveken működő kereskedelmi eszközöket találhatunk napjainkban? Mit ígér a jövő a biztonságos kvantumkommunikáció területén? Hogyan tudnak hozzájárulni ehhez a területhez a hazai szakemberek? </p>
                    </div>
                    <div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/nadasi.jpg" alt="Nádasi András"></div>
                        <h4>Nádasi András<br/> <span>Borász, VSOP Balaton-felvidék </span></h4>
                        <h3></h3>
                        <p></p>
                    </div> -->
				</div>
			</section>
			<section class="simple-section section-contact" id="contact">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Kapcsolat</h2>
				</div>
				<div class="section-content wrap">
					<div class="contact-item clear">
						<div class="speaker-head"><img src="/images/profile_images/kozmo.jpg" alt="Kozma Viktor Richárd"></div>
						<h4>Kozma Viktor Richárd</h4>
						<h3>kozma.viktor.richard@sch.bme.hu</h3>
						<h3>06-70-883-6525</h3>
					</div>
					<div class="form">
					<!-- <form method="POST" action="/contact"> -->
						<input id="contact-name" name="name" type="text" placeholder="Neved" />
						<input id="contact-email" name="email" type="text" placeholder="E-mail címed" />
						<textarea id="contact-message" name="message" placeholder="Üzeneted"></textarea>
						<button class="submit-button" id="contact-button">Elküldöm</button>
					<!-- </form>				-->
					</div>
				</div>
			</section>
			<section class="simple-section section-partners" id="partners">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Partnereink</h2>
				</div>
				<div class="section-content wrap">
					<div class="partners-table clear">
						<div class="partner"><img src="/images/PPS-DumaSz-2014.png"></div>
						<div class="partner"><img src="/images/bbk.png"></div>
						<div class="partner"><img src="/images/PPS-SCH-2014.png"></div>
						<div class="partner"><img src="/images/simonyi.png"></div>
						<div class="clear"></div>
                        <div class="partner"><img src="/images/svk.png"></div>
						<div class="partner"><img src="/images/laplace.png"></div>

					</div>			
				</div>
			</section>
			<footer>
				© Copyright 2015
                <img src="/images/fbimage.png" style="height: 0;overflow: hidden ;"/>
			</footer>
		</div>
		<div id="notification-area"></div>
	</body>
</html>
