@font-face {
	font-family: AdventPro-Light;
	src: url(AdventPro-Light.ttf) format("truetype"); /*URL to font*/
}

@font-face {
	font-family: AdventPro-Regular;
	src: url(AdventPro-Regular.ttf) format("truetype"); /*URL to font*/
}


* {
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

b {
	font-weight: 600 !important;
}

body {
	height: auto!important;
//background-color: black;
}

/* ordinary stuff */
.clear:after {
	clear: both;
	content: "";
	display: block;
}

.wrap {
	margin: 0 auto;
	width: 950px;
}

.wrap p b {


}

a {
	text-decoration: none;
}

a:hover,
a.on {
	color: #191919;
	text-decoration: underline;
}

h1 {
	color: #ef8555;
	font-size: 50px;
	line-height: 75px;
	text-align: center;
}

h2 {
	bottom: 0;
	color: #fff;
	font-size: 40px;
	left: 0;
	line-height: 160px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}

h3 {
	color: #000;
	font-size: 35px;
	line-height: 40px;
	padding: 5px 0;
}

h4 {
	color: #000;
	font-size: 25px;
	line-height: 25px;
	padding: 3px 0px 2px;
}

h4 span {
	color: #808080;
	font-size: 15px;
	font-style: italic;
}

/* header */

header {
	/*background: #191919 url('../images/header_1.png') center center no-repeat;*/
	background-color:#ae252c;
	background-size: cover;
	height: 120px;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
	-webkit-transition: all 1s cubic-bezier(.25,.94,.44,.97) 2.5s;
	-moz-transition: all 1s cubic-bezier(.25,.94,.44,.97) 2.5s;
	-o-transition: all 1s cubic-bezier(.25,.94,.44,.97) 2.5s;
	transition: all 1s cubic-bezier(.25,.94,.44,.97) 2.5s;
}

header.on {
	opacity: 1;
}

.logo {
	background: transparent url('../images/meet@2x.png') center center no-repeat;
	background-size: auto 80px;
	float: left;
	height: 100px;
	margin-top: 10px;
	width: 300px;
}

header p {
	color: #fff;
	float: right;
	font-size: 25px;
	line-height: 120px;

}

header p span {
	color: black;
}

nav {
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid #cdcdcd;
	height: 41px;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 120px;
	right: 0;
	z-index: 99;
	-webkit-transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
	-moz-transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
	-o-transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
	transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
}

nav.on {
	opacity: 1;
}

.menu {
	display: table;
	margin: 0 auto;
}

.menu a {
	color: #000;
	float: left;
	font-size: 18px;
	line-height: 40px;
	margin: 0 10px;
}

.animation-section {
	padding-top: 185px;
	background-color:#white;
	padding-bottom: 100px;

}

.animation-image {
	margin: 0;
	opacity: 0;
	text-align: center;
	-webkit-transform: translateY(50px) scale(0.95);
	-moz-transform: translateY(50px) scale(0.95);
	-o-transform: translateY(50px) scale(0.95);
	transform:translateY(50px) scale(0.95);
	-webkit-transition: all 2s cubic-bezier(.25,.94,.44,.97) 1s;
	-moz-transition: all 2s cubic-bezier(.25,.94,.44,.97) 1s;
	-o-transition: all 2s cubic-bezier(.25,.94,.44,.97) 1s;
	transition: all 2s cubic-bezier(.25,.94,.44,.97) 1s;
}

.on .animation-image {
	opacity: 1;
	-webkit-transform: translateY(0) scale(1);
	-moz-transform: translateY(0) scale(1);
	-o-transform: translateY(0) scale(1);
	transform:translateY(0) scale(1);
}

.animation-image img {
	height: 500px;
	width: auto;
}

.animation-section h1 {
	opacity: 0;
	margin-top: 0;
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform:translateY(50px);
	-webkit-transition: all 2s cubic-bezier(.25,.94,.44,.97) 1.4s;
	-moz-transition: all 2s cubic-bezier(.25,.94,.44,.97) 1.4s;
	-o-transition: all 2s cubic-bezier(.25,.94,.44,.97) 1.4s;
	transition: all 2s cubic-bezier(.25,.94,.44,.97) 1.4s;
}

.on h1 {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	transform:translateY(0);
}

/* content */
.content {
	opacity: 0;
	-webkit-transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
	-moz-transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
	-o-transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
	transition: all 1s cubic-bezier(.25,.94,.44,.97) 3s;
}

.content.on {
	opacity: 1;
}

/* section headers */
.section-header {
	background-color: #191919;
	height: 160px;
	margin: 80px 0 40px;
	overflow: hidden;
	position: relative;
	/*border-top: 2px solid #FF9F00;*/
	border-top: 2px solid #FFFFFF;

}

.section-header-bg {
	background-size: cover;
	height: 200px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.section-header h2 {
	font-family: AdventPro-Light;
}

.section-information .section-header {
	margin-top: 0;
	padding-top: -100px;

}

.section-information .section-header-bg {
	background-image: url('../images/header.png');
}

.section-registration .section-header-bg {
	background-image: url('../images/header.png');
}

.section-speakers .section-header-bg {
	background-image: url('../images/header.png');
}

.section-contact .section-header-bg {
	background-image: url('../images/header.png');
}

.section-partners .section-header-bg {
	background-image: url('../images/header.png');
}

.section-content p {
	color: #4b4b4b;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: justify;
}

.section-registration p {
	text-align: center;
}

.section-information .section-content h2 {
	color: #000;
	line-height: 80px;
	position: static;

}

.section-information h4 {
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}

#notification-area {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 10px;
	width: 300px;
	min-height: 50px;
	position: fixed;
	bottom: 20%;
	left: 50%;
	margin-left: -150px;
	color: white;
}

/* forms */
.form {
	margin: 0 auto;
	width: 500px;
}

input,
button,
textarea {
	background-color: #f2f2f2;
	border: none;
	color: #000;
	display: block;
	font-size: 20px;
	height: 50px;
	margin: 0 auto 20px;
	padding: 0 20px;
	width: 100%;
}

textarea {
	height: 120px;
	padding: 20px;
	resize: none;
}

input[type="submit"] {
	background-color: #ae252c;
	cursor: pointer;
	color: white;
	width: 300px;
}

input[type="submit"]:hover {
	background-color: #ae252c;
}

.submit-button {
	background-color: #b7444a;
	cursor: pointer;
	color: white;
	width: 300px;
}

.submit-button:hover {
	background-color: #ae252c;
}

/* speakers, contact */
.speaker-item {
	margin: 0 auto 60px;
	width: 840px;
}

.multiple-contact-item {
	display: table;
	margin: 0 auto 60px;
}

.speaker-head {
	border: 2px solid #cdcdcd;
	border-radius: 50%;
	float: left;
	height: 150px;
	overflow: hidden;
	width: 150px;
}

.double-head .speaker-head {
	margin-right: 20px;
}

.speaker-head img {
	width: 100%;
}

h3,
h4,
.speaker-item p {
	margin-left: 180px;
}

.double-head h3,
.double-head h4,
.speaker-item.double-head p {
	margin-left: 350px;
}

.multiple-contact-item h4 {
	font-size: 35px;
	padding-top: 25px;
}

.multiple-contact-item h3 {
	color: #666;
	font-size: 25px;
	line-height: 40px;
}

.cir {
	padding-top: 35px;
}

/* partners */
.partner {
	float: left;
	height: 150px;
	position: relative;
	width: 50%;
}

.partner.middle {
	float: none;
	margin: 0 auto;
}

.partner img {
	left: 50%;
	max-height: 130px;
	max-width: 300px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* footer */
footer {
	background-color: #ae252c;
	color: #fff;
	font-size: 16px;
	height: 70px;
	line-height: 70px;
	margin-top: 60px;
	text-align: center;
}