* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

body {
	background: #ebebeb;
}

#content div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.clearfix {
	clear: both;
}

.container {
	width: 1000px;
	/*min-height: 100px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.thin-container {
	width: 800px;
	/*min-height: 100px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

#header {
	background: #9ac5f6;
	height: 70px;
}

#content {
	font-family: 'Open Sans';
	font-weight: 300;
	min-height: 100%;
	margin-bottom: -100px;
}

#content:after {
	content: "";
	display: block;
	height: 100px;
}

#footer {
	background: #163b65;
	height: 100px;
	position: relative;
}

#logo {
	float: left;
	padding: 4px;
}

#navigation {
	float: right;
	height: 70px;
	font-family: 'Open Sans Condensed';
}

#navigation ul {
	list-style: none;
}

#navigation ul li {
	float: left;
	font-size: 25px;
	padding: 15px;
	height: 40px;
}

#navigation ul li a{
	color: black;
	text-decoration: none;
}

#navigation ul li:hover {
	background: #67aeff;
}

#navigation ul li:hover a{
	color: white;
}

#home-graphics {
	background: url('../img/graphics.png');
	width: 1000px;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#content-title {
	text-align: center;
	font-size: 65px;
}

#content-description {
	text-align: center;
	font-size: 18px;
}

.speaker-first-row {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.speaker-second-row {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.speaker {
	float: left;
	width: 200px;
}

.speaker-img {
	width: 120px;
	height: 120px;
	border: 8px solid #006ae3;
	border-radius: 120px;
	overflow: hidden;
	margin: 32px;
	text-align: center;
}

.speaker-img img {
	width: 120px;

}

.speaker-name {
	font-size: 20px;	
	font-weight: 400;
}

#registration-form {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#registration-form input[type=text] {
	width: 258px;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

#registration-form input[type=email] {
	width: 258px;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

#registration-form input[type=tel] {
	width: 258px;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

#registration-form input[type=submit] {
	width: 260px;
	padding: 10px;
	margin: 10px;
	background: #67aeff;
	border-radius: 3px;
	color: white;
	font-size: 24px;
	border-bottom: 3px solid #67aeff;
}

#registration-form input[type=submit]:hover {
	border-bottom: 3px solid #006ae3;
}

.partner-row {
	text-align: center;
}

.partner-row img {
	margin: 20px;
}

.contact {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.contact-info {
	float: left;
	width: 300px;
	height: 200px;
}

.contact-name {
	font-size: 24px;
	font-weight: 400;
}

.contact-email {
	width: 300px;
	height: 50px;
}

.contact-phone {
	width: 300px;
	height: 50px;
}

.contact-email img {
	float: left;
}

.contact-phone img {
	float: left;
}

.contact-email span {
	float: left;
	padding: 8px;
}

.contact-phone span {
	float: left;
	padding: 8px;
}

.contact-facebook img {
	float: left;
}

.contact-facebook span {
	float: left;
	padding-top: 16px;
	padding-left: 8px;
}

.contact-img {
	margin-top: 30px;
	border: 8px solid #ffa41f;
	border-radius: 120px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: right;
	text-align: center;
	background: white;
}

.contact-img img {
	width: 150px;
}

.creator {
	position: absolute;
	bottom: 15px;
	right: 15px;
	float: right;
	font-weight: 300;
	font-size: 12px;
	font-family: 'Open Sans';
	color: white;
}

.creator a {
	text-decoration: none;
	color: #ffa41f;
}

.hidden {
	display: none;
}

