<div id="content-title">
  Kapcsolat
</div>

<div class="contact">
  <div class="contact-info">
    <div class="contact-name">
      Kozma Tamás Roland
    </div>
    <div class="contact-email">
      <img src="/img/email.png"/><span>kozma.tamas.roland@gmail.com</span>
      <div class="clearfix"></div>
    </div>
    <div class="contact-phone">
      <img src="/img/phone.png"/><span>tel.: +36703903104</span>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="contact-img">
    <img src="/img/kozma.jpg"/>
  </div>
  <div class="clearfix"></div>
</div>

</div>