<div id="content-title">
  Kapcsolat
</div>

<div class="contact">
  <div class="contact-info">
    <div class="contact-name">
      Kozma Tamás Roland
    </div>
    <div class="contact-email">
      <img style="width: 51px;" src="/img/email.png"/><span>kozma.tamas.roland@gmail.com</span>
      <div class="clearfix"></div>
    </div>
    <div class="contact-phone">
      <img style="width: 51px;" src="/img/phone.png"/><span>+36703903104</span>
      <div class="clearfix"></div>
    </div>
    <div class="contact-facebook">
      <img style="width: 51px;" src="/img/facebook.png"/><span><a style="text-decoration: none;" href="https://www.facebook.com/events/589196841158049/589225444488522/?notif_t=plan_mall_activity">Kövess minket a facebook-on</a></span>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="contact-img">
    <img src="/img/kozma.jpg"/>
  </div>
  <div class="clearfix"></div>
</div>

</div>