
<div style="text-align: right;">
  <h1>I.SCHÖNHERZ MEETUP</h1>

  <span style="color: grey;"><strong>A dolgok internete <br /> - avagy a tudományok párbeszédének új reneszánsza</strong></span> 
</div>

<div>
  <strong>
    A technológia fejlődésének felgyorsult üteme észrevétlenül soha nem tapasztalt felelősséget adott a mérnök társadalom kezébe. Mindeközben a tudományok mindennapi párbeszéde új reneszánszát éli. Világos, hogy a minket körülvevő valóságot formáló mérnökök együttműködésének minősége alapvetően formálja közös jövőnket. Fontos tehát, hogy a bennünket folymatosan érő elsöprő hatású fejlődési irányokat közelebbről is megismerjük, elsajátítsuk a mögöttük rejlő gondolatokat. Ez elengedhetetlen feltétele annak, hogy ne csak részesei, hanem akár formálói is legyünk ezeknek a globális trendeknek.
  </strong>
</div>

<div>
  A Schönherz kollégium diák vezetése éppen ezért céljául tűzte ki, hogy egy meetup sorozatot hozzon létre, ezzel rendszeres alkalmat teremtve a kötetlen, de mégis értékteremtő szakmai párbeszédnek a hallgatók és a szakma különböző rétegei között. A rendezők résztvevőket izzadságszagú előadások helyett <strong>inspiráló beszédekkel</strong> és a <strong>Dumaszínházból</strong> kölcsönzött jó hangulattal várják az eseményre. 
</div>

<div>
  Az első Schönherz Meetup alkalmával négy igazán rendhagyó előadással debütáll a rendezvénysorozat, mely során a figyelem <a href="http://m.bitport.hu/megoldasok/joevokep-mi-az-a-dolgok-internete-infografika">a dolgok internetének (Internet of Things)</a> fogalomkörére összpontosul. Az est során bemutatásra kerül egy bravúros magyar fejlesztés, majd kicsit körmére nézünk a hálózatba kötött világ biztonsági kérdéseinek is. A dolgok internete témával bátor párhuzamot vonva szó lesz az emberek és gépek kapcsolódásának új, formabontó lehetőségeiről, továbbá a színpadon köszönthetjük majd a <a href="http://singularityu.org/">Singularity University </a> hazai nagykövetét is, aki a Szilikon völgyben szerzett tapasztalatai alapján mesél majd a gépek evolúciójának mindent átformáló új korszakáról.
</div>

<div>
  Az egész estés rendezvényen a résztvevőket <strong>kötetlen beszélgetésre</strong> invitáljuk az előadásokat követően egy kellemes <strong>borkostoló</strong> mellett. 
</div>

<div>
  <strong>Időpont:</strong> 2014. március 19. szerda, 18:00 -21:00-ig, utána kötetlen beszélgetés <br />
  <strong>Helyszín:</strong> BME, Schönherz kollégium (1117 Budapest, Irinyi József utca 42.) <br />
  <strong>Belépőjegy:</strong> A rendezvény ingyenes, de regisztrációhoz kötött! <br />
  <strong>Regisztráció:</strong> <a href="http://meetup.sch.bme.hu/regisztracio">meetup.sch.bme.hu/regisztracio</a>
</div>

<div>
  <strong>
    A meetup résztvevői 5% kedvezménnyel jelentkezhetnek a KÜRT Akadémia ősszel induló <u>etikus hacker</u> képzésére.
  </strong>
</div>