<!DOCTYPE html>
<html>
<head>
  <title>Schönherz Meetup</title>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

  <div id="header">
    <div class="container">

      <div id="logo">
        <a href="/">
          <img src="/img/logo.png" alt="Schönherz meetup főoldal"/>
        </a>
      </div>

      <div id="navigation">
        <ul>
          <li><a href="/info">Információ</a></li>
          <li><a href="/eloadok">Előadók</a></li>
          <li><a href="/kapcsolat">Kapcsolat</a></li>
          <li><a href="/partnerek">Partnereink</a></li>
          <li><a href="/regisztracio">Regisztráció</a></li>
        </ul>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>

  <div id="content">
    <div class="<%= @container_class || 'container' %>">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <div class="container">

    </div>
  </div>

</body>
</html>