<div id="content-title">
  Partnereink
</div>

<div class="partner-row">
  <img src="/img/simonyi.png"/>
  <img src="/img/sch.png"/>
</div>

<div class="partner-row">
  <img src="/img/dumaszinhaz.png"/>
  <img src="/img/kurt.png"/>
  <img src="/img/bbk.png"/>
</div>