<div id="content-title">
  Partnereink
</div>

<div class="partner-row">
	<a href="http://simonyi.sch.bme.hu/"><img src="/img/simonyi.png"/></a>
	<a href="https://kb.sch.bme.hu/about"><img src="/img/sch.png"/></a>
</div>

<div class="partner-row">
	<a href="http://www.dumaszinhaz.hu/"><img src="/img/dumaszinhaz.png"/></a>
	<a href="http://www.kurt-akademia.hu/"><img src="/img/kurt.png"/></a>
	<a href="http://bbk.sch.bme.hu/"><img src="/img/bbk.png"/></a>
</div>
