<div id="content-title">
  AZ ESTE PROGRAMJA 
</div>
      
<div>
  <strong>I. <span style="color: #ffa41f;">A MÉRNÖKÖK FELELŐSSÉGÉNEK ÚJ HATÁRAI </span><br />
  Nyitó gondolatok az estéhez <br /></strong>
  Dr. Vajta László, BME Villamosmérnöki és Informatikai Kar, dékán<br />
</div>

<div>
  <strong>II. <span style="color: #ffa41f;">A HÁLÓZATBA KÖTÖTT VILÁG </span><br />
  Az IoT fogalomkör gyakorlati alkalmazásnak bemutatása egy magyar termék mintáján keresztül<br /></strong>
  egyeztetés alatt <br />
</div>

<div>
  <strong>III. <span style="color: #ffa41f;">A HÁLÓZATBA KÖTÖTT EMBER </span><br />
  A biológiai rendszerek hálózatba kötésének új lehetőségei <br /></strong>
  Vitai Miklós, CIO, Antenna Hungária <br />
</div>

<div>
  <strong>IV. <span style="color: #ffa41f;">A GÉPEK TÁMADÁSA </span><br />
  Az információbiztonság új kőkorszaka <br /></strong>
  Vesztergombi György, software mérnök, SEARCH-LAB Ltd. <br />
</div>

<div>
  <strong>V. <span style="color: #ffa41f;">AKIK A VILÁGOT FORMÁLJÁK </span><br />
  ... ti vagytok! <br /></strong>
  Bognár Botond, nagykövetet, Singularity University <br />
</div>

<div>
  <strong>VI. <span style="color: #ffa41f;">Borkóstoló </span><br />
  A bor kis mértékben gyógyszer, nagymértékben orvosság. <br /></strong>
  Miklósi Csabi, Miklósi Pince <br />
</div>

<div>
  <em>Az est házigazdája Litkai Gergely</em>
</div>