<div id="results">
  <h1>Jelentkezések</h1>
  <table>
    <thead>
      <th>Név</th>
      <th>Szervezet</th>
      <th>Email</th>
      <th>Telefon</th>
    </thead>
    <tbody>
      <% @attendees.each do |a| %>
        <tr>
          <td><%= a[:name] %></td>
          <td><%= a[:organization] %></td>
          <td><%= a[:email] %></td>
          <td><%= a[:phone] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/csv">Eredmények letöltése CSV-ben.</a>
</div>