<div id="content-title">
  Regisztráció
</div>

<% if @error %>
  <div class="error">
    A következő mezők kitöltése kötelező:
    <ul>
      <li>Név</li>
      <li>Szervezet</li>
      <li>Email</li>
    </ul>
  </div>
<% end %>

<div id="registration-form">
  <form method="POST" action="/regisztracio">
    <label for="name">Név:</label> <br />
    <input type="text" value="<%= params[:name] %>" id="name" name="name"/><br />
    <label for="organization">Szervezet:</label> <br />
    <input type="text" value="<%= params[:organization] %>" id="organization" name="organization"/><br />
    <label for="email">E-mail:</label> <br />
    <input type="email" value="<%= params[:email] %>" name="email" id="email"/><br />
    <label for="phone">Telefonszám:</label> <br />
    <input type="tel" value="<%= params[:phone] %>" name="phone" id="phone"/><br />
    <input type="submit" value="regisztrálok"/>
  </form>
</div>
