<% if @error %>
  <div class="error">
    A következő mezők kitöltése kötelező:
    <ul>
      <li>Név</li>
      <li>Szervezet</li>
      <li>Email</li>
    </ul>
  </div>
<% end %>

<form action="/reg" method="POST">

  <label for="name">Név</label><br>
  <input type="text" value="<%= params[:name]%>" name="name" id="name"><br><br>

  <label for="organization">Szervezet</label><br>
  <input type="text" value="<%= params[:organization]%>" name="organization" id="organization"><br><br>

  <label for="email">Email</label><br>
  <input type="text" value="<%= params[:email]%>" name="email" id="email"><br><br>

  <label for="phone">Telefon</label><br>
  <input type="text" value="<%= params[:phone]%>" name="phone" id="phone"><br><br>

  <input type="submit" value="Regisztrálok">

</form>