<div id="content-title">
  Előadók
</div>

<div class="speaker-first-row">
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/litkai.jpg"/>
    </div>
    <div class="speaker-name">Litkai Gergely</div>
    <div class="speaker-description">humorista</div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src=""/>
    </div>
    <div class="speaker-name">unknown artist</div>
    <div class="speaker-description"></div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="speaker-second-row">
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/vitai.jpg"/>
    </div>
    <div class="speaker-name">Vitai Miklós</div>
    <div class="speaker-description">CIO, Antenna Hungária</div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/vesztergombi.jpg"/>
    </div>
    <div class="speaker-name">Vesztergombi György</div>
    <div class="speaker-description"> software mérnök, SEARCH-LAB Ltd.</div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/bognar.jpg"/>
    </div>
    <div class="speaker-name">Bognár Botond</div>
    <div class="speaker-description">nagykövetet, Singularity University </div>
  </div>

  <div class="clearfix"></div>
</div>