<div id="content-title">
  Előadók
</div>

<div class="speaker-first-row">
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/litkai.jpg"/>
    </div>
    <div class="speaker-name">Litkai Gergely</div>
    <div class="speaker-description">Humorista</div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/miklos.jpg"/>
    </div>
    <div class="speaker-name">Miklós Csaba</div>
    <div class="speaker-description">Borász, Miklós Pince Kft. </div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/vajta.jpg"/>
    </div>
    <div class="speaker-name">Dr. Vajta László</div>
    <div class="speaker-description">BME Villamosmérnöki és Informatikai Kar, dékán </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="speaker-second-row">
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/regenyi.jpeg"/>
    </div>
    <div class="speaker-name">Regényi Ádám</div>
    <div class="speaker-description"> Co-founder, MindEverest</div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/schreiber.jpg"/>
    </div>
    <div class="speaker-name">Schreiber György</div>
    <div class="speaker-description">CEO, BotOrbs Ltd.</div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="speaker-third-row">
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/vitai.jpg"/>
    </div>
    <div class="speaker-name">Vitai Miklós</div>
    <div class="speaker-description">CIO, Antenna Hungária</div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/vesztergombi.jpg"/>
    </div>
    <div class="speaker-name">Vesztergombi György</div>
    <div class="speaker-description">Szoftver mérnök, SEARCH-LAB Ltd.</div>
  </div>
  <div class="speaker">
    <div class="speaker-img">
      <img src="/img/bognar.jpg"/>
    </div>
    <div class="speaker-name">Bognár Botond</div>
    <div class="speaker-description">Nagykövet, Singularity University </div>
  </div>
  <div class="clearfix"></div>
</div>
